html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    background: rgb(52, 206, 142);
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

article {
    margin: 10px;
    padding: 10px;
    background: rgba(16, 233, 215, 0.178);
}

.adaptive {
    display: flex;
    flex-flow: row wrap;
}

@media screen and (min-width: 1400px) {
    article {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5) {
            flex: 0 1 calc(50% - 40px);
        }

        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
            flex: 0 1 calc(25% - 40px);
        }
    }
}

@media screen and (min-width: 700px) {
    article {
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
            flex: 0 1 calc(50% - 40px);
        }
    }
}

@media screen and (max-width: 699px) {
    article {
        flex: 0 1 calc(100% - 40px);
    }
}
